*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(42, 42, 41);
  border-radius: 5px;
  margin: 50vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 500px;
  height: 500px;
  border: 2px solid rgb(108, 107, 107);
  border-radius: 8px;
}

.hidden {
  display: none;
}
.btnStart {
  background: hsl(330deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}
.btnstart:active .front {
  transform: translateY(-2px);
}
